.gambar-kecil1 {
    margin: 5px;
}

.harga {
    font-weight: bold;
}



.produk-penjelasan {
    width: 500px;
    height: 500px;
}

.penjelasan-barang {
    margin-left: 200px;
    text-align: left;
    box-sizing: content-box;
    width: 400px;
}

